REACT_APP_SUPABASE_URL=https://dfwfnkqqbovhfwrswvcg.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmd2Zua3FxYm92aGZ3cnN3dmNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxMzYxNzQsImV4cCI6MjA3MzcxMjE3NH0.NAa5YveF6iWM16XInDNemEumcD7-Euo_FA7h6o0F_6A